In [1]:
import pandas as pd

In [3]:
col_geo=pd.read_csv('columna_geologica.csv')
col_geo.columns

Index(['index', 'NOMBRE_DE_POZO', 'NOMBRE_DEL_ELEMENTO_GEOLOGICO',
       'MNEMONICO_DEL_ELEMENTO_GEOLOGICO', 'TIPO_UNIDAD_ESTRATIGRAFICA',
       'CIMA_(md)', 'BASE_(md)', 'NIVEL_DE_REFERENCIA\r\n'],
      dtype='object')

# Tabla columna_geologica
Tabla con la información de una columna geologica por pozo

    Pozo - Nombre del pozo
    Elemento Geologico -
    Mnemonico -
    Tipo de unidad estratigrafica -
    Cima - Inicio de la formacion
    Base - Fin de la formacion
    (md) - Metros desarrollados
    Nivel de referencia -

In [6]:
col_geo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1231 entries, 0 to 1230
Data columns (total 8 columns):
index                               1231 non-null int64
NOMBRE_DE_POZO                      1231 non-null object
NOMBRE_DEL_ELEMENTO_GEOLOGICO       1231 non-null object
MNEMONICO_DEL_ELEMENTO_GEOLOGICO    1231 non-null object
TIPO_UNIDAD_ESTRATIGRAFICA          1231 non-null object
CIMA_(md)                           1231 non-null int64
BASE_(md)                           1231 non-null int64
NIVEL_DE_REFERENCIA
               1231 non-null object
dtypes: int64(3), object(5)
memory usage: 77.0+ KB

In [9]:
col_geo.head()

,index,NOMBRE_DE_POZO,NOMBRE_DEL_ELEMENTO_GEOLOGICO,MNEMONICO_DEL_ELEMENTO_GEOLOGICO,TIPO_UNIDAD_ESTRATIGRAFICA,CIMA_(md),BASE_(md),NIVEL_DE_REFERENCIA
0,0,MOLOACAN-1,CONCEPCION SUPERIOR,CNSR,FMN,0,75,MR
1,1,MOLOACAN-1,CONCEPCION INFERIOR,CNIR,FMN,75,185,MR
2,2,MOLOACAN-1,ENCANTO,ENCT,FMN,185,412,MR
3,3,MOLOACAN-1,OLIGOCENO,OLGN,FMN,412,471,MR
4,4,MOLOACAN-101,CONCEPCION SUPERIOR,CNSR,FMN,0,80,MR

In [12]:
col_geo.columns =col_geo.columns.str.replace(" ","_").str.replace(
    "(","").str.replace(")","").str.replace(".","").str.replace('á',"a").str.replace('é',"e").str.replace(
    'í',"i").str.replace('ó',"o").str.replace('ú',"u")

In [13]:
col_geo.head()

,index,NOMBRE_DE_POZO,NOMBRE_DEL_ELEMENTO_GEOLOGICO,MNEMONICO_DEL_ELEMENTO_GEOLOGICO,TIPO_UNIDAD_ESTRATIGRAFICA,CIMA_md,BASE_md,NIVEL_DE_REFERENCIA
0,0,MOLOACAN-1,CONCEPCION SUPERIOR,CNSR,FMN,0,75,MR
1,1,MOLOACAN-1,CONCEPCION INFERIOR,CNIR,FMN,75,185,MR
2,2,MOLOACAN-1,ENCANTO,ENCT,FMN,185,412,MR
3,3,MOLOACAN-1,OLIGOCENO,OLGN,FMN,412,471,MR
4,4,MOLOACAN-101,CONCEPCION SUPERIOR,CNSR,FMN,0,80,MR

In [30]:
col_geo.NOMBRE_DEL_ELEMENTO_GEOLOGICO.unique()

array(['CONCEPCION SUPERIOR', 'CONCEPCION INFERIOR', 'ENCANTO',
       'OLIGOCENO', 'EOCENO', 'ANHIDRITA', 'DEPOSITO', 'LA LAJA',
       'FILISOLA', 'PARAJE SOLO'], dtype=object)

In [24]:
#contar repetidos
#col_geo.pivot_table(index=['NOMBRE_DE_POZO'], aggfunc='size')

# Tabla datos_generales_de_pozos
Tabla con la información por pozo

    Pozo - Nombre del pozo
    Elemento Geologico -
    Perforacion -
    Terminacion -
    Produccion -
    Taponamiento -

In [34]:
dat_gral=pd.read_csv('datos_generales_de_pozos.csv')
dat_gral.columns

Index(['index', 'NOMBRE_DE_POZO', 'LATITUD', 'LONGITUD', 'ZONA_UTM',
       'COORDENADAS_UTM_X', 'COORDENADAS_UTM_Y', 'SISTEMA_DE_REFERENCIA',
       'NOMBRE_PLATAFORMA_PERA\r\n(Marino / Terrestre)',
       'NOMBRE_EQUIPO_DE_PERFORACION', 'TIPO_AGUJERO_(AGUJERO/REENTRADA)',
       'CLASIFICACION_POZO_(Exploratorio/Desarrollo)', 'CLASIFICACION_LAHEE',
       'ESTADO_ACTUAL_DE_POZO', 'TIRANTE_DE_AGUA_(m)',
       'PROFUNDIDAD_TOTAL_PERFORADA_(m)', 'PROFUNDIDAD_VERTICALIZADA_(m)',
       'PROFUNDIDAD_DE _REFERENCIA_(KB/MR/nivel_del_mar)',
       'ELEVACION_DE_REFERENCIA_(m)', 'ELEVACION_DE_TERRENO_(mTVD)',
       'TRAYECTORIA_(vertical/desviado/horizontal)',
       'TIPO_DE_HIDROCARBUROS_(aceite/gas/condensado)',
       'FECHA_INICIO_PERFORACION_(dd/mm/aaaa)',
       'FECHA_FIN_DE_PERFORACION_(dd/mm/aaaa)',
       'FECHA_DE_TERMINACION_(dd/mm/aaaa)',
       'FECHA_INICIO_PRODUCCION_(dd/mm/aaaa)',
       'FECHA_DE_TAPONAMIENTO_(dd/mm/aaaa)',
       'FORMACION_O_EDAD_(ULTIMA_PERFORADA)'],
      dtype='object')

In [36]:
dat_gral.columns = dat_gral.columns.str.replace(" ","_").str.replace(
    "(","").str.replace(")","").str.replace(".","").str.replace('á',"a").str.replace('é',"e").str.replace(
    'í',"i").str.replace('ó',"o").str.replace('ú',"u")

In [37]:
dat_gral.head()

,index,NOMBRE_DE_POZO,LATITUD,LONGITUD,ZONA_UTM,COORDENADAS_UTM_X,COORDENADAS_UTM_Y,SISTEMA_DE_REFERENCIA,NOMBRE_PLATAFORMA_PERA Marino_/_Terrestre,NOMBRE_EQUIPO_DE_PERFORACION,...,ELEVACION_DE_REFERENCIA_m,ELEVACION_DE_TERRENO_mTVD,TRAYECTORIA_vertical/desviado/horizontal,TIPO_DE_HIDROCARBUROS_aceite/gas/condensado,FECHA_INICIO_PERFORACION_dd/mm/aaaa,FECHA_FIN_DE_PERFORACION_dd/mm/aaaa,FECHA_DE_TERMINACION_dd/mm/aaaa,FECHA_INICIO_PRODUCCION_dd/mm/aaaa,FECHA_DE_TAPONAMIENTO_dd/mm/aaaa,FORMACION_O_EDAD_ULTIMA_PERFORADA
0,0,MOLOACAN-1,17.987072,-94.381714,UTM-15,353703.80,1989180.10,NAD-27,MOLOACAN-1,SIN INFORMACION,...,24.48,22.48,VERTICAL,ACEITE/GAS,31/03/1949,16/04/1949,26/06/1949,12/03/1950,SIN INFORMACION,OLIGOCENO
1,1,MOLOACAN-101,17.982659,-94.369994,UTM-15,354941.32,1988682.58,NAD-27,MOLOACAN-101,SIN INFORMACION,...,27.43,24.93,VERTICAL,ACEITE/GAS,01/03/1949,14/03/1949,23/03/1949,SIN INFORMACION,23/03/1949,ENCANTO
2,2,MOLOACAN-102,17.982043,-94.367304,UTM-15,355225.64,1988612.31,NAD-27,MOLOACAN-102,SIN INFORMACION,...,30.75,28.27,VERTICAL,ACEITE/GAS,23/02/1949,04/03/1949,11/03/1949,SIN INFORMACION,12/03/1949,ENCANTO
3,3,MOLOACAN-102A,17.982088,-94.367397,UTM-15,355215.87,1988617.36,NAD-27,MOLOACAN-102,PM-5597,...,0.00,0.00,VERTICAL,ACEITE/GAS,19/07/1973,20/08/1973,20/08/1973,30/09/1973,SIN INFORMACION,ENCANTO
4,4,MOLOACAN-11,17.986597,-94.373105,UTM-15,354615.05,1989120.81,NAD-27,MOLOACAN-11,PM-111,...,38.36,34.45,VERTICAL,ACEITE/GAS,24/10/1966,07/11/1966,11/01/1967,23/11/1967,10/05/2002,ENCANTO

In [38]:
dat_gral.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 390 entries, 0 to 389
Data columns (total 28 columns):
index                                             390 non-null int64
NOMBRE_DE_POZO                                    390 non-null object
LATITUD                                           390 non-null float64
LONGITUD                                          390 non-null float64
ZONA_UTM                                          390 non-null object
COORDENADAS_UTM_X                                 390 non-null float64
COORDENADAS_UTM_Y                                 390 non-null float64
SISTEMA_DE_REFERENCIA                             390 non-null object
NOMBRE_PLATAFORMA_PERA
Marino_/_Terrestre        390 non-null object
NOMBRE_EQUIPO_DE_PERFORACION                      390 non-null object
TIPO_AGUJERO_AGUJERO/REENTRADA                    390 non-null object
CLASIFICACION_POZO_Exploratorio/Desarrollo        390 non-null object
CLASIFICACION_LAHEE                               390 non-null object
ESTADO_ACTUAL_DE_POZO                             390 non-null object
TIRANTE_DE_AGUA_m                                 390 non-null object
PROFUNDIDAD_TOTAL_PERFORADA_m                     390 non-null int64
PROFUNDIDAD_VERTICALIZADA_m                       390 non-null int64
PROFUNDIDAD_DE__REFERENCIA_KB/MR/nivel_del_mar    390 non-null object
ELEVACION_DE_REFERENCIA_m                         390 non-null float64
ELEVACION_DE_TERRENO_mTVD                         390 non-null float64
TRAYECTORIA_vertical/desviado/horizontal          390 non-null object
TIPO_DE_HIDROCARBUROS_aceite/gas/condensado       390 non-null object
FECHA_INICIO_PERFORACION_dd/mm/aaaa               390 non-null object
FECHA_FIN_DE_PERFORACION_dd/mm/aaaa               390 non-null object
FECHA_DE_TERMINACION_dd/mm/aaaa                   390 non-null object
FECHA_INICIO_PRODUCCION_dd/mm/aaaa                390 non-null object
FECHA_DE_TAPONAMIENTO_dd/mm/aaaa                  390 non-null object
FORMACION_O_EDAD_ULTIMA_PERFORADA                 390 non-null object
dtypes: float64(6), int64(3), object(19)
memory usage: 85.4+ KB